<%- include( 'templates/header' ,{urlTitle} ) %>

    <main>
        <h1 class="h1Admin">Administrador: entradas</h1>

        <section class="secPages">
            <p>Total de entradas: <span class="spnPages"><%- entries.totalEntries %></span></p>
            <p>Entradas por página: <span class="spnPages"><%- entries.limit %></span></p>
            <p>Total de páginas: <span class="spnPages"><%- entries.totalPages %></span></p>
            <p>Página actual: <span class="spnPages"><%- entries.page %></span></p>
        </section>


        <form class="formPages" action="/admin" method="POST">
            <div class="divOpts1">
                <label for="limit">Entradas por página:</label>
                <select name="limit" id="limit">
                    <% for( let i=1; i < 6; i++ ) { %>

                        <% if (entries.limit==(i*5)) { %>
                            <option value="<%- i*5 %>" selected><%- i*5 %></option>
                        <% } else { %>
                            <option value="<%- i*5 %>"><%- i*5 %></option>
                        <% } %>

                    <% } %>
                </select>
            </div>  

            <div class="divOpts2">
                <label for="page">Ir a Página:</label>
                <select name="page" id="page">

                    <% for( let i=1; i <=entries.totalPages; i++ ) { %>

                        <% if (entries.page==i) { %>
                            <option value="<%- i %>" selected><%- i %></option>
                        <% } else { %>
                            <option value="<%- i %>"><%- i %></option>
                        <% } %>

                    <% } %>

                </select>
            </div>

        </form>

        <table id="tabAdmin">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Imagen</th>
                    <th>Autor</th>
                    <th>Título</th>
                    <th>Extracto</th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                <% if (entries.data) { %>
                                 
                    <% entries.data.forEach((entry,ind)=> { %>

                        <tr>
                            <td><%- ind + 1 + ((entries.page-1) * entries.limit) %></td>
                            <td><img class="imgTable" src="/media/<%- entry.image %>" alt="Imagen de la entrada de <%- entry.name %>"></td>
                            <td><%- entry.name %></td>
                            <td><%- entry.title %></td>
                            <td><%- entry.extract %></td>
                            <td><%- entry.date %> <%- entry.time %></td>
                            <td class="tdBtns">
                                <a title="Ver" href="/admin/detail/<%- entry.entryid %>"><i class="fa-brands fa-readme"></i></a>                                                       
                                <a title="Editar" href="/admin/edit/<%- entry.entryid %>"><i class="fa-solid fa-pen-to-square"></i></a>                            
                                <button title="Borrar"><i data-entryid="<%- entry.entryid %>" class="deleteEntry fa-solid fa-eraser"></i></button>
                            </td>
                        </tr>

                        <tr class="ocultar btnConfirm" id="tr<%- entry.entryid %>">
                            <td colspan="7">¿Estás seguro? Se eliminará definitivamente esta entrada.
                                <a title="Borrar definitivamente" href="/admin/delete/<%- entry.entryid %>"><i class="fa-solid fa-eraser"></i></a>
                                <button title="Cancelar"><i data-entryid="<%- entry.entryid %>" class="cancelDelete fa-solid fa-rectangle-xmark"></i></button> 
                            </td>
                        </tr>

                    <% }) %>

                <% } else { %>
                     
                    <tr>
                        <td id="tdNoResults" colspan="7">Aún no hay entradas en la base de datos...</td>
                    </tr>

                <% } %>

            </tbody>

        </table>

        <div id="divPages">

            <% if (entries.page !=1) { %>
                <button title="Ir a la página anterior"><i id="prevPage" class="fa-solid fa-circle-arrow-left"></i></button>
            <% } else { %>
                <button disabled><i class="btnFlecha fa-solid fa-circle-arrow-left"></i></button>
            <% } %>
             
            <p class="pPage"><%- entries.page %></p>         

            <% if (entries.totalPages !=entries.page) { %>
                <button title="Ir a la página siguiente"><i id="nextPage" class="fa-solid fa-circle-arrow-right"></i></button>
            <% } else { %>
                <button disabled="true"><i class="btnFlecha fa-solid fa-circle-arrow-right"></i></button>
            <% } %>
        </div>

    </main>

    <%- include('templates/footer.ejs') %>