<%- include( 'templates/header' ,{urlTitle} ) %>

    <main>
        <h1 class="h1Admin">Administrador</h1>

        <p>Total de entradas: <%- entries.totalEntries %></p>
        <p>Entradas por página: <%- entries.limit %></p>
        <p>Total de páginas: <%- entries.totalPages %></p>
        <p>Página actual: <%- entries.page %></p>


        <form action="/admin" method="GET">

            <label for="limit">Entradas por página:</label>
            <select name="limit" id="limit">
                <% for( let i=1; i < 6; i++ ) { %>

                    <% if (entries.limit==(i*10)) { %>
                        <option value="<%- i*10 %>" selected>Página <%- i*10 %></option>
                        <% } else { %>
                            <option value="<%- i*10 %>">Página <%- i*10 %></option>
                            <% } %>

                                <% } %>
            </select>

            <label for="page">Ir a:</label>
            <select name="page" id="page">

                <% for( let i=1; i <=entries.totalPages; i++ ) { %>

                    <% if (entries.page==i) { %>
                        <option value="<%- i %>" selected>Página <%- i %></option>
                        <% } else { %>
                            <option value="<%- i %>">Página <%- i %></option>
                            <% } %>

                                <% } %>

            </select>

            <button type="submit"><i class="fa-solid fa-arrows-rotate"></i>Actualizar</button>

            <!-- <input type="submit" value="Actualizar"> -->

        </form>

        <table id="tabUsers">
            <thead>
                <tr>
                    <th></th>
                    <th>Imagen</th>
                    <th>Autor</th>
                    <th>Título</th>
                    <th>Extracto</th>
                    <th>Fecha</th>
                </tr>
            </thead>

            <tbody>

                <% entries.data.forEach((entry,ind)=> { %>

                    <tr>
                        <td><%- ind + 1 + ((entries.page-1) * entries.limit) %></td>
                        <td><img src="/media/<%- entry.image %>" alt="" width="50"></td>
                        <td><%- entry.name %></td>
                        <td><%- entry.title %></td>
                        <td><%- entry.extract %></td>
                        <td><%- entry.date %> <%- entry.time %></td>
                        <td>
                            <a href="/admin/detail/<%- entry.entryid %>"><i class="fa-brands fa-readme"></i></a>                                                       
                            <a href="/admin/edit/<%- entry.entryid %>"><i class="fa-solid fa-pen-to-square"></i></a>                            
                            <button><i data-entryid="<%- entry.entryid %>" class="deleteEntry fa-solid fa-eraser"></i></button>
                        </td>
                    </tr>

                    <tr class="ocultar" id="tr<%- entry.entryid %>">
                        <td colspan="7">¿Estás seguro? Se eliminará definitivamente esta entrada.
                            <a href="/admin/delete/<%- entry.entryid %>"><i class="fa-solid fa-eraser"></i></a>
                            <button><i data-entryid="<%- entry.entryid %>" class="cancelDelete fa-solid fa-rectangle-xmark"></i></button> 
                        </td>
                    </tr>

                    <% }) %>

            </tbody>

        </table>

        <div id="divPages">
            <p>Páginas:</p>
            <% if (entries.page !=1) { %>
                <a href="/admin?page=<%- entries.page-1  %>"><i class="fa-solid fa-circle-arrow-left"></i></a>
            <% } %>

            <a href=""><%- entries.page %></a>

            <% if (entries.totalPages !=entries.page) { %>
                <a href="/admin?page=<%- entries.page+1  %>"><i class="fa-solid fa-circle-arrow-right"></i></a>
            <% } %>
        </div>

    </main>

    <%- include('templates/footer.ejs') %>