<%- include( 'templates/header' ,{urlTitle,user} ) %>

    <main>
        <h1 class="h1Admin">Entradas</h1>

        <div id="divNE">
            <% if (user) { %>            

                <h2 id="h2Name">Hola <%- user.name %>!</h2>
                <a id="newEntry" href="/new" title="Crear una entrada nueva"><i class="fa-solid fa-pen-to-square"></i> Nueva Entrada</a>

            <% } else { %>

                <h2 id="h2Name">Hola!</h2>
                <button disabled="true" id="newEntryDis" title="Sólo los usuarios registrados pueden crear nuevas entradas"><i class="fa-solid fa-pen-to-square"></i> Nueva Entrada</button>

            <% } %>
            
        </div>

        <section class="secSearch">
            <form action="/search" method="POST">
                <div class="divSearch">
                    <input type="text" name="text" id="txtSearch" placeholder="Escribe aquí..." autocomplete="off" autofocus>
                    <span><i class="lupa fa-solid fa-magnifying-glass"></i></span>
                </div>
            </form>
        </section>

        <section class="secPages">
            <p>Total de entradas: <span class="spnPages"><%- entries.totalEntries %></span></p>
            <p>Entradas por página: <span class="spnPages"><%- entries.limit %></span></p>
            <p>Total de páginas: <span class="spnPages"><%- entries.totalPages %></span></p>
            <p>Página actual: <span class="spnPages"><%- entries.page %></span></p>
        </section>

        <% if (urlTitle.includes('email')) { %>
            <form class="formPages" action="/email" method="POST">        
        <% } else if (urlTitle.includes('búsqueda')) { %>
            <form class="formPages" action="/search" method="POST">
                <input type="hidden" name="text" value="<%- msg %>">
        <% } else { %>
            <form class="formPages" action="/blog" method="POST">         
        <% } %>                 
        
            <div class="divOpts1">
                <label for="limit">Entradas por página:</label>
                <select name="limit" id="limit">                    
                    <% for( let i=1; i < 6; i++ ) { %>

                        <% if (entries.limit==(i*5)) { %>
                            <option value="<%- i*5 %>" selected><%- i*5 %></option>                           
                        <% } else { %>
                            <option value="<%- i*5 %>"><%- i*5 %></option>
                        <% } %>

                    <% } %>
                </select>
            </div>

            <div class="divOpts2">
                <label for="page">Ir a Página:</label>
                <select name="page" id="page">

                    <% for( let i=1; i <=entries.totalPages; i++ ) { %>

                        <% if (entries.page==i) { %>
                            <option value="<%- i %>" selected><%- i %></option>
                        <% } else { %>
                            <option value="<%- i %>"><%- i %></option>
                        <% } %>

                    <% } %>

                </select>
            </div>

        </form>

        <% if (entries.ok) { %>

            <% if (msg !='' ) { %>

                <p id="pMsg">Has buscado: '<%- msg %>'...</p>
                <a id="goBlog" href="/"><i class="fa-regular fa-rectangle-list"></i> Ver todas las entradas...</a>

            <% } %>

            <% if (entries.data) { %>

                <% entries.data.forEach(entry=> { %>

                    <article>

                        <div class="divContainer">
                            <p class="title"><%- entry.title %></p>

                            <form action="/email" method="POST">
                                <input type="hidden" name="email" value="<%- entry.email %>">
                                <button class="author" title="Ver todas las entradas de <%- entry.name %>"><%- entry.name %></button>
                            </form>

                            <p class="date"><%- entry.date %> <%- entry.time%> hrs.</p>

                            <img src="/media/<%- entry.image %>" alt="Imagen de la entrada de <%- user.name %>">

                            <p class="extract"><%- entry.extract %></p>
                            <a class="readMore" title="Leer la entrada completa" href="/detail/<%- entry.entryid %>">Leer más...</a>
                        </div>

                    </article>

                <% }) %>
            
            <% } else { %>            
                
                <p id="tdNoResults" >Aún no hay entradas en la base de datos...</p>                
                        
            <% } %>

        <% } else { %>

            <p id="pMsgNoResults"><i class="fa-regular fa-face-sad-cry"></i> <%- msg %></p>
            <a id="goBlog" href="/"><i class="fa-regular fa-rectangle-list"></i> Ver todas las entradas...</a>

            <% 
                entries.page=0;
                entries.totalPages=0;
             %>

        <% } %>

        <div id="divPages">
            
            <% if (entries.page > 1) { %>
                <button title="Ir a la página anterior"><i id="prevPage" class="fa-solid fa-circle-arrow-left"></i></button>
            <% } else { %>
                <button disabled><i class="btnFlecha fa-solid fa-circle-arrow-left"></i></button>
            <% } %>            

            <p class="pPage"><%- entries.page %></p>      
            
            <% if (entries.totalPages !=entries.page) { %>
                <button title="Ir a la página siguiente"><i id="nextPage" class="fa-solid fa-circle-arrow-right"></i></button>
            <% } else { %>
                <button disabled="true"><i class="btnFlecha fa-solid fa-circle-arrow-right"></i></button>
            <% } %>
            
        </div>

    </main>

    <%- include('templates/footer.ejs') %>