<%- include( 'templates/header' ,{urlTitle,user} ) %>

    <main>
        <h1 class="h1Admin">Entradas</h1>
        
        <div id="divNE">
            <h2 id="h2Name">Usuario: <%- user.name %></h2>
        
            <a id="newEntry" href="/new"><i class="fa-solid fa-pen-to-square"></i> Nueva Entrada</a>
        </div>

        <section class="secSearch">
            <form action="/search" method="POST">
                <div class="divSearch">
                    <input type="text" name="text" id="txtSearch" placeholder="Escribe aquí...">
                    <span><i class="lupa fa-solid fa-magnifying-glass"></i></span>
                </div>
            </form>
        </section>

        <% if (entries.ok) { %>             
                   
            <% if (msg != '') { %>

                <p id="pMsg"><%- msg %></p>            
                <a id="goBlog" href="/blog">Ver todas</a>

            <% } %>
            
            <% entries.data.forEach(entry=> { %>

                <article>

                    <div class="divContainer">
                        <p class="title"><%- entry.title %></p>

                        <a class="author" href="/email/<%- entry.email %>"><%- entry.name %></a>
                        <p class="date"><%- entry.date %> <%- entry.time%> hrs.</p>

                        <img src="/media/<%- entry.image %>" alt="">

                        <p class="extract"><%- entry.extract %></p>
                        <a class="readMore" href="/detail/<%- entry.entryid %>">Leer más...</a>
                    </div>

                </article>

            <% }) %>
                
        <% } else { %>
        
            <p id="pMsgNoResults"><i class="fa-regular fa-face-sad-cry"></i> <%- msg  %></p>           
            <a id="goBlog" href="/blog">Ver todas</a>

        <% } %>

    </main>

    <%- include('templates/footer.ejs') %>