<%- include( 'templates/header' ,{urlTitle,user} ) %>


<main>
    <h1 class="h1Admin">Cambiar Password</h1>

    <section>
        <div id="divRegister">

            <form action="../user/changePass" method="POST">

                <label for="oldPassword">Password anterior:</label>
                <input type="password" name="oldPassword" id="oldPassword" value="<%- user.oldPassword %>" autofocus autocomplete="off">
                <span class="spnErrorReg"><%- error.oldPassword %></span>

                <label for="newPassword">Nuevo password:</label>
                <input type="password" name="newPassword" id="newPassword" value="<%- user.newPassword %>" autocomplete="off">
                <span class="spnErrorReg"><%- error.newPassword %></span>

                <label for="passwordR">Repetir Password:</label>
                <input type="password" name="passwordR" id="passwordR" value="<%- user.passwordR %>" autocomplete="off">
                <span class="spnErrorReg"><%- error.passwordR %></span>
             
                <input type="hidden" name="email" id="email" value="<%- user.email %>">

                <div id="btnsLogin">
                    <button id="btnSubmitRegister" type="submit"><i class="fa-solid fa-floppy-disk"></i> Cambiar</button>
                    <a id="btnCancelarRegister" href="/"><i class="fa-solid fa-person-running"></i> Cancelar</a>
                </div>
                
            </form>

        </div>
    </section>

</main>


    <%- include('templates/footer.ejs') %>