<%- include( 'templates/header' ,{urlTitle,user} ) %>

    <main>
        <div class="divContainer">
            <div class="divDetails">
            <a id="btnBack" href="/"><i class="fa-solid fa-left-long"></i> Volver</a>
            
            <% if (entry.email==user.email) { %>
                <a id="btnEdit" href="/edit/<%- entry.entryid  %>"><i class="fa-solid fa-pen-to-square"></i> Editar</a>     
            <% } %>
            </div>

            <p class="title"><%- entry.title %></p>

            <form action="/email" method="POST">
                <input type="hidden" name="email" value="<%- entry.email %>">
                <button class="author" title="Ver todas las entradas de <%- entry.name %>"><%- entry.name %></button>
            </form>

            <p class="date"><%- entry.date %> <%- entry.time%> hrs.</p>

            <img id="imgDetail" src="/media/<%- entry.image %>" alt="Imagen de la entrada de <%- user.name %>">

            <p class="content"><%- entry.content %></p>
            
        </div>
    </main>

    <%- include('templates/footer.ejs') %>