<%- include( 'templates/header' ,{urlTitle,user} ) %>

    <main>
        <h1 class="h1Admin"><%- user.name %>: editar entrada</h1>

        <div class="divEdit">

            <form action="/edit" method="post" enctype="multipart/form-data">

                <label for="name">Autor:</label>
                <input type="text" name="name" id="name" value="<%- entry.name %>" readonly>

                <label for="date">Fecha de creación:</label>
                <input type="text" name="date" id="date" value="<%- entry.date %> <%- entry.time%>" readonly>

                <label for="title">Título:</label>
                <input type="text" name="title" id="title" value="<%- entry.title %>" autocomplete="off" autofocus>
                <span class="spnError"><%- msg.title %></span>

                <label for="extract">Extracto:</label>
                <input type="text" name="extract" id="extract" value="<%- entry.extract %>" autocomplete="off">
                <span class="spnError"><%- msg.extract %></span>

                <label for="content">Contenido:</label>
                <textarea name="content" id="content" rows="4" autocomplete="off"><%- entry.content %></textarea>
                <span class="spnError"><%- msg.content %></span>

                <img src="/media/<%- entry.image %>" alt="Imagen de la entrada de <%- user.name %>">

                <label for="image">Imagen:</label>
                <input type="text" name="image" id="image" value="<%- entry.image %>" readonly>
                <span class="spnError"><%- msg.image %></span>
                <input type="file" name="imageFile" id="imageFile">

                <input type="hidden" name="entryID" value="<%- entry.entryid %>">
                <input type="hidden" name="entryid" value="<%- entry.entryid %>">

                <div class="btns">
                    <button id="btnSubmit" type="submit"><i class="fa-solid fa-floppy-disk"></i> Guardar Cambios</button>
                    <a id="btnCancelar" href="/detail/<%- entry.entryid %>"><i class="fa-solid fa-person-running"></i> Cancelar</a>
                </div>

            </form>

        </div>
    </main>

    <%- include('templates/footer.ejs') %>