<%- include( 'templates/header' ,{urlTitle,user} ) %>


<main>
    <h1 class="h1Admin">Registro</h1>

    <section>
        <div id="divRegister">

            <form action="../user/register" method="POST">

                <label for="nameR">Nombre:</label>
                <input type="text" name="name" id="nameR" autocomplete="off" value="<%- user.name %>" autofocus>
                <span class="spnErrorReg"><%- error.name %></span>

                <label for="email">Email:</label>
                <input type="text" name="email" id="email" autocomplete="off" value="<%- user.email %>">
                <span class="spnErrorReg"><%- error.email %></span>

                <label for="password">Password:</label>
                <input type="password" name="password" id="password" autocomplete="off" value="<%- user.password %>">
                <span class="spnErrorReg"><%- error.password %></span>

                <label for="passwordR">Repetir Password:</label>
                <input type="password" name="passwordR" id="passwordR" autocomplete="off" value="<%- user.passwordR %>">
                <span class="spnErrorReg"><%- error.passwordR %></span>
             
                <div id="divMsgRegister">
                    <p>¿Ya tienes una cuenta?<a title="Entra en tu cuenta aquí" href="../user/login"> Loguéate</a></p>
                </div>

                <div id="btnsLogin">
                    <button id="btnSubmitRegister" type="submit"><i class="fa-regular fa-address-card"></i> Registrarme</button>                    
                    <a id="btnCancelarRegister" href="/"><i class="fa-solid fa-person-running"></i> Cancelar</a>
                </div>
                
            </form>

        </div>
    </section>

</main>


    <%- include('templates/footer.ejs') %>